html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    position: relative;
}


body{
    background-image: url('pompoko.png');
    background-size: cover; 
}

h1 {
    font-size: 3em;
    color: rgb(252, 252, 252);
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 50px; 
}

h2 {
    font-size: 2em;
    color: rgb(252, 252, 252);
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 150px;
    max-width: 350px;
}

h3 {
    font-size: 2em;
    color: rgb(252, 252, 252);
    position: absolute;
    left: 70%;
    top: 80%;
    margin-left: 15px;
}

nav {
    position: absolute;
    left: 34%;
    top: 43%;
    transform: translate(-50%, -50%);
}


.nav-button {
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background: transparent;
}